.center-header{
  background: #2d2d2d;
  color: #ffffff;
  height: 300px;
  padding: 30px;
  box-sizing: border-box;
}
.center-card{
	margin-top: 20px;
	position: relative;
	.btn-contact{
		position: absolute;
		left: 0px;
		bottom: 2px;
		width: 100%;
		opacity: 0;
	}
}
.user-info{
	color: #ffffff;
	display: inline-block !important;
	margin-left: 20px;
}
.user-rank{
	color: #ffffff;
	margin-top: 10px;
}
.center-header-option{
	margin-top: 20px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	.option{
		flex: 1;
		text-align: center;
		border-right: 1px solid #ffffff;
	}
	.border-none{
		border: none;
	}
}