.container{
	min-height: 100vh;
}
.video-container{
	width: 100%;
}
.detail-header{
	background: #ffffff;
	padding: 20px;
	line-height: 50px;
}
.course-price{
	color: #fe3a08;
}
.course-number{
	float: right;
	color: #666666;
	.number-img{
      width: 26px;
      height: 30px;
      margin-right: 5px;
      position: relative;
      top: -3px;
	}
}
.detail-option{
	background: #ffffff;
	padding: 20px;
	line-height: 50px;
	margin-top: 20px;
	.detail-item{
		display: flex;
		justify-content: space-between;
	}
	.check-more{
		color: #7b4413;
	}
	.play-btn{
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background: #7b4413;
		margin-left: 15px;
	}
	.people-img{
		width: 60px;
		height: 60px;
		border-radius: 100%;
		margin-left: 10px;
	}
	.course-title{
		font-size: 32px;
		line-height: 60px;
		border-bottom: 1px solid #eeeeee;
	}
}
.detail-bottom{
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	padding: 20px;
	background: #ffffff;
	display: flex;
	justify-content: center;
	view{
		padding: 20px 60px;
		color: #ffffff;
		background: #fe3a08;
		border-radius: 10px;
	}
}
.action-share{
	display: flex;
	justify-content: space-between;
	padding: 20px 100px;
	line-height: 50px;
	image{
		width: 120px;
	}
}
.share-container{
	position: relative;
}
.share-btn{
	position: absolute;
	left: 0px;
	top: 20px;
	width: 200px;
	height: 130px;
	opacity: 0;
}